<template>
  <div>
    <!-- componente menus -->
    <menu-principal>
      <h1>Inicio Sesión</h1>
      <form v-on:submit.prevent="login">
        <div class="row">
          <div class="col-md-12">
            <span class="text-danger" id="errorSession"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Usuario:</label>
              <input type="text"
              class="form-control"
              v-validate="'required'"
              v-model="login_model.username"
              data-vv-as="usuario"
              name="username"
              id="username">
              <small class="text-danger"> {{ errors.first(`username`) }} </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Contraseña:</label>
              <input type="password"
              class="form-control"
              v-validate="'required'"
              v-model="login_model.password"
              data-vv-as="contraseña"
              name="password">
              <small class="text-danger"> {{ errors.first(`password`) }} </small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Iniciar Sesión</button>
        </div>
      </form>
    </menu-principal>
  </div>
</template>
<script>
import { Form, HasError, AlertError } from 'vform';
export default {
  name:"login",
  data:()=>({
    login_model: new Form({
      username:"admin",
      password:"123456"
    }),
  }),
  mounted(){
    this.$Fun.activeFocus("username")
  },
  methods:{
    login(){
      this.$validator.validate().then(result=>{
        if (result) {
          let uri = '/account/login';
          this.$Fun.keydwown_form_get(uri,this.login_model,e=>{
            let data = e.data
            if (data.success) {
              this.$router.replace({ name: 'home'})
            }else {
              $("#errorSession").text('Sus credenciales no coinciden en el sistema')
            }
          })
        }
      })
    },
  }
}
</script>

<style lang="css">
</style>
