<template>
  <div>
    <!-- modal -->
    <modal-component ref="modalFormCliente" tamano="modal-xl" titulo="Crear o Editar Cliente">
      <div class="px-4 modalDatos">
        <form>
          <div class="row mt-3">
            <div class="col-md-12">
              <span>Nombre:</span>
              <input type="text" class="form-control" v-validate="'required'" v-model="form_clientes.nombre" name="nombre" id="nombre-form_cliente">
              <small class="text-danger"> {{ errors.first(`nombre`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <span>Documento:</span>
              <input type="text" class="form-control" v-validate="'required'" v-model="form_clientes.documento" name="documento">
              <small class="text-danger"> {{ errors.first(`documento`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <span>Correo:</span>
              <input type="email" class="form-control" v-validate="'required|email'" v-model="form_clientes.correo" name="correo">
              <small class="text-danger"> {{ errors.first(`correo`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <span>Dirección:</span>
              <input type="text" class="form-control" v-validate="'required|max:250'" data-vv-as="dirección" v-model="form_clientes.direccion" name="direccion">
              <small class="text-danger"> {{ errors.first(`direccion`) }} </small>
            </div>
          </div>
          <div class="form-group mt-3">
            <button @click="crearCliente" type="button" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </modal-component>
  </div>
</template>

<script>
import { Form, HasError, AlertError } from 'vform';
export default {
  name:"registrar_cliente",
  data(){
    return{
      form_clientes: new Form({
        id:null,
        nombre:"",
        documento:"",
        correo:"",
        direccion:"",
      }),
    }
  },
  methods: {
    toggle(){
      this.$refs.modalFormCliente.toggle()
      this.$Fun.activeFocus("nombre-form_cliente")
    },
    getDataEdit(cliente){
      this.form_clientes.id = cliente.id
      this.form_clientes.nombre = cliente.nombre
      this.form_clientes.documento = cliente.documento
      this.form_clientes.correo = cliente.correo
      this.form_clientes.direccion = cliente.direccion

      this.toggle()
    },
    crearCliente(){
      this.$validator.validate().then(result=>{
        let uri = this.form_clientes.id?`/clientes/update/${this.form_clientes.id}`:'/clientes/add';
        this.$Fun.form_save(uri,this.form_clientes,result,this.errors,e=>{
          if (!e.error) {
            this.form_clientes.reset()
            this.$validator.reset()
            this.$emit("refresh_")
          }
        })
      })
    }
  }
}
</script>

<style lang="css">
</style>
