<template>
  <div>
    <!-- componente menus -->
    <menu-principal>
      <div class="row mt-3">
        <div class="col-md-8">
          <h1 class="d-inline">Clientes</h1>
        </div>
        <div class="col-md-4">
          <button @click="$refs.formClientes.toggle()" type="button" class="btn btn-primary w-100">
            Crear Cliente
          </button>
        </div>
      </div>

      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <td class="text-center">ID</td>
            <td>Nombre</td>
            <td>Documento</td>
            <td>Correo</td>
            <td>Dirección</td>
            <td></td>
          </tr>
        </thead>

        <tbody>
          <tr v-for="cliente in clientes">
            <td class="text-center">{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>
              <button class="btn btn-warning" @click="$refs.formClientes.getDataEdit(cliente)">
                Editar
              </button>
              <button class="btn btn-danger" v-on:click="deleteItem(cliente.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <formulario @refresh_="fetchItems" ref="formClientes"/>
    </menu-principal>
  </div>
</template>

<script>
import formulario from './formulario.vue';
export default {
  name:"listar_clientes",
  components:{
    formulario,
  },
  data:()=>({
    clientes: []
  }),
  created(){
    this.fetchItems();
  },
  methods: {
    fetchItems(){
      let uri = '/clientes';
      this.$Fun.axios_get(uri,({data})=>{
        this.clientes = data.clientes;
      })
    },
    deleteItem(id){
      let uri = `/clientes/delete/${id}`;
      this.$Fun.axios_delete(uri,id,({data})=>{
        this.fetchItems()
      })
    }
  }
}
</script>
