<template>
  <div>
    <!-- modal -->
    <modal-component ref="modalFormUsuario" tamano="modal-xl" titulo="Crear o Editar Usuario">
      <div class="px-4 modalDatos">
        <form>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Nombre:</span>
              <input type="text" class="form-control" v-validate="'required'" data-vv-as="nombre" v-model="form_usuario.name" name="name" id="name-form_usuario">
              <small class="text-danger"> {{ errors.first(`name`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Dirección:</span>
              <input type="text" class="form-control" v-validate="'required'" data-vv-as="dirección" v-model="form_usuario.address" name="address">
              <small class="text-danger"> {{ errors.first(`address`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Teléfono:</span>
              <input type="text" class="form-control" v-validate="'required'" data-vv-as="teléfono" v-model="form_usuario.phone" name="phone">
              <small class="text-danger"> {{ errors.first(`phone`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Usuario:</span>
              <input type="text" class="form-control" v-validate="'required'" data-vv-as="usuario" v-model="form_usuario.username" name="username">
              <small class="text-danger"> {{ errors.first(`username`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Contraseña:</span>
              <input type="password" class="form-control" v-validate="'required|min:3'" data-vv-as="contraseña" v-model="form_usuario.password" name="password" ref="password">
              <small class="text-danger"> {{ errors.first(`password`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Comfirmar Contraseña:</span>
              <input type="password" class="form-control" data-vv-as="comfirmar contraseña" v-validate="'required|confirmed:password'" v-model="form_usuario.cpassword" name="cpassword">
              <small class="text-danger"> {{ errors.first(`cpassword`) }} </small>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-10">
              <span>Rol:</span>
              <div class="form-check ml-4" v-for="rol in lista_roles">
                <input class="form-check-input" type="radio" name="id_rol" :id="`inlineRadio${rol.id}`" :value="rol.id" v-model="form_usuario.id_rol">
                <label class="form-check-label" for="`inlineRadio${rol.id}`">{{rol.nombre}}</label>
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button @click="crearUsuario" type="button" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </modal-component>
  </div>
</template>
<script>
  import { Form, HasError, AlertError } from 'vform';
  export default {
    name:"registrar_usuario",
    data(){
      return{
        form_usuario: new Form({
          id:"",
          name:"",
          address:"",
          phone:"",
          username:"",
          password:"",
          cpassword:"",
          id_rol:"",
        }),
        lista_roles:[],
      }
    },
    mounted(){
      this.listarRoles()
    },
    methods: {
      toggle(){
        this.form_usuario.reset()
        this.$refs.modalFormUsuario.toggle()
        this.$Fun.activeFocus("name-form_usuario")
      },
      listarRoles(){
        let uri = '/usuarios/roles';
        this.$Fun.axios_get(uri,({data})=>{
          this.lista_roles = data.roles
          this.form_usuario.id_rol = _.head(data.roles)?_.head(data.roles).id:""
        })
      },
      getDataEdit(user){
        this.toggle()
        this.form_usuario.id = user.id
        this.form_usuario.name = user.name
        this.form_usuario.address = user.address
        this.form_usuario.phone = user.phone
        this.form_usuario.username = user.username
        this.form_usuario.id_rol = user.id_rol

      },
      crearUsuario(){
        this.$validator.validate().then(result=>{
          let formData = new Form({})
          formData.name = this.form_usuario.name
          formData.address = this.form_usuario.address
          formData.phone = this.form_usuario.phone
          formData.username = this.form_usuario.username
          formData.password = this.form_usuario.password
          formData.id_rol = this.form_usuario.id_rol

          let uri = this.form_usuario.id?`/usuarios/update/${form_usuario.id}`:'/usuarios/add';

          this.$Fun.form_save(uri,formData,result,this.errors,e=>{
            if (e) {
              this.form_usuario.reset()
              this.$validator.reset()
              this.$Fun.activeFocus("name-form_usuario")
              this.$emit("refresh_")
            }
          })
        })
      }
    }
  }
  </script>
