<template>
  <div>
    <!-- componente menus -->
    <menu-principal>
      <div class="row p-4">
        <div class="col-md-8">
          <h1 class="d-inline">Usuarios</h1>
        </div>
        <div class="col-md-4">
          <button @click="$refs.formUsuario.toggle()" type="button" name="button" class="btn btn-primary w-100"> Crear Usuario</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 scrollX">
          <table class="table table-hover table-bordered">
            <thead>
              <tr class="text-center">
                <td>ID</td>
                <td>Nombre</td>
                <td>Dirección</td>
                <td>Teléfono</td>
                <td>Usuario</td>
                <td>Rol</td>
                <td></td>
              </tr>
            </thead>

            <tbody>
              <tr v-for="user in usuarios">
                <td class="text-center">{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.rol }}</td>
                <td>
                  <button class="btn btn-warning" @click="$refs.formUsuario.getDataEdit(user)">
                    Editar
                  </button>

                  <button class="btn btn-danger" @click="deleteItem(user.id)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- componente formulario registro -->
      <formulario @refresh_="listarUsuarios" ref="formUsuario"/>
    </menu-principal>
  </div>
</template>
<script>
import formulario from './formulario.vue';
export default {
  name:"listar_usuarios",
  components:{
    formulario,
  },
  data:()=>({
    usuarios: []
  }),
  created(){
    this.listarUsuarios();
  },
  methods: {
    listarUsuarios(){
      let uri = '/usuarios';
      this.$Fun.axios_get(uri,({data})=>{
        this.usuarios = data.users;
      })
    },
    deleteItem(id){
      let uri = `/usuarios/delete/${id}`;
      this.$Fun.axios_delete(uri,id,({data})=>{
        this.listarUsuarios()
      })
    }
  }
}
</script>
