<template>
  <div>
    <!-- componente menus -->
    <menu-principal />
    <h1>Crear Usuario</h1>
    <form v-on:submit.prevent="addAccount">
      <div class="row mt-3">
        <div class="col-md-10">
          <span>Nombre:</span>
          <input type="text" class="form-control" v-validate="'required'" data-vv-as="nombre" v-model="account.name" name="name" id="name-form_account">
          <small class="text-danger"> {{ errors.first(`name`) }} </small>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10">
          <span>Dirección:</span>
          <input type="text" class="form-control" v-validate="'required'" data-vv-as="dirección" v-model="account.address" name="address">
          <small class="text-danger"> {{ errors.first(`address`) }} </small>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10">
          <span>Teléfono:</span>
          <input type="text" class="form-control" v-validate="'required'" data-vv-as="teléfono" v-model="account.phone" name="phone">
          <small class="text-danger"> {{ errors.first(`phone`) }} </small>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10">
          <span>Usuario:</span>
          <input type="text" class="form-control" v-validate="'required'" data-vv-as="usuario" v-model="account.username" name="username">
          <small class="text-danger"> {{ errors.first(`username`) }} </small>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10">
          <span>Contraseña:</span>
          <input type="password" class="form-control" v-validate="'required|min:3'" data-vv-as="contraseña" v-model="account.password" name="password" ref="password">
          <small class="text-danger"> {{ errors.first(`password`) }} </small>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-10">
          <span>Comfirmar Contraseña:</span>
          <input type="password" class="form-control" data-vv-as="comfirmar contraseña" v-validate="'required|confirmed:password'" v-model="account.cpassword" name="cpassword">
          <small class="text-danger"> {{ errors.first(`cpassword`) }} </small>
        </div>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</template>
<script>
  import { Form, HasError, AlertError } from 'vform';
  export default {
    name:"registrar_usuario",
    data(){
      return{
        account: new Form({ }),
      }
    },
    mounted(){
      this.$Fun.activeFocus("name-form_account")
    },
    methods: {
      addAccount(){
        this.$validator.validate().then(result=>{
          let uri = '/account/add';
          this.$Fun.form_save(uri,this.account,result,this.errors,e=>{
            if (e) {
              this.account.reset()
              this.$validator.reset()
            }
          })
        })
      }
    }
  }
  </script>
