<!-- seccion tmplate obligatorio para contenedor html -->
<template>
  <div>
    <!-- componente menus -->
    <menu-principal>
      <!-- div contenedor  -->
      <div class="back-404 row mt-5">
        <div class="text-center em-24 text-404 mt-5" style="width:100%; z-index:2">
          <h1 class="text-muted text-center em-100 mb-0 num">404</h1>
          <p class="text-muted2 em-24">Página web no encontrada</p>
          <button type="button" class="btn btn-danger br-20" name="button" @click="$router.go(-1)" >
            <i class="mdi mdi-undo-variant"></i>
          </button>
        </div>
      </div>
    </menu-principal>
  </div>
</template>
<!-- seccion script -->
<script>
export default {}
</script>
<!-- seccion css -->
<style lang="css">
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
.back-404 {
  top: 0;
  width: 96.8%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .text-404 {
    width: 470px;
  }
  .num {
    letter-spacing: 9px;
    font-style: normal;
    font-family: "anton";
    opacity: 0.2;
  }
}
</style>
