<template>
  <div>
    <!-- componente menus -->
    <menu-principal>
      <div class="row py-4">
        <div class="col-md-12">
          <h1 class="d-inline">Artículos Medicamentos</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <h3>Cargar Archivo CSV Articulos</h3>
          <form id="uploadSingleFileForm">
            <div class="form-group">
              <label class="control-label" for="uploadfile">Seleccione un Archivo:</label>
              <input type="file" class="form-control"
              placeholder="Choose a upload file" name="file" required></input>
            </div>
            <button @click="importarCSV()" href="#" type="button" class="btn btn-danger" id="btnUploadSingleFileSubmit">Cargar Archivo</button>
          </form>
        </div>
      </div>
      <div id="downloadfiles" class="row">
			 <div class="col-sm-12 text-right">
			   <a href="/reportes/file" class="btn btn-info" role="button">Descargar Archivo CSV</a>
			 </div>
		  </div>
      <div class="row">
        <div class="col-md-12 scrollTable">
          <table class="table table-hover thead-color table-striped table-bordered table-sm w-100">
            <thead>
              <tr class="text-center">
                <th>ID</th>
                <th>Código</th>
                <th class="w-20">Nombre</th>
                <th>Laboratorio</th>
                <th>Invima</th>
                <th>Fecha_1</th>
                <th>Fecha_2</th>
                <th>Vigente</th>
                <th>Número_1</th>
                <th>Número_2</th>
                <th>Número_3</th>
                <th>Número_4</th>
                <th>Descripción</th>
                <th>Observación</th>
                <th>Fecha_4</th>
                <th>Fecha_5</th>
                <th>Fecha si no</th>
                <th>Código_2</th>
                <th>Código_3</th>
                <th>Nombre_2</th>
                <th>Tipo</th>
                <th>Observación_2</th>
                <th>Observación_3</th>
                <th>Medición</th>
                <th>Cantidad</th>
                <th>Especificación Consumo</th>
                <th>Descripción Empaque</th>
                <th>Empresa Química</th>
                <th>Tipo Empresa</th>
                <th>Actividad Empresa</th>
                <th>Actividad Empresa_2</th>
                <th>Actividad Empresa_3</th>
                <th>Actividad Empresa_4</th>
                <th>Fecha_6</th>
                <th>Fecha_7</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="!listado_articulos.length">
                <td colspan="35">
                  <span class="text-subtitle-nex">No hay registros a mostrar</span>
                </td>
              </tr>
              <tr v-for="(articulo,key) in listado_articulos">
                <td class="text-center">{{articulo.id}}</td>
                <td>{{articulo.codigo}}</td>
                <td>{{articulo.nombre}}</td>
                <td>{{articulo.laboratorio}}</td>
                <td>{{articulo.invima}}</td>
                <td class="text-center">{{articulo.fecha_1}}</td>
                <td class="text-center">{{articulo.fecha_2}}</td>
                <td>{{articulo.vigente}}</td>
                <td>{{articulo.numero_1}}</td>
                <td>{{articulo.numero_2}}</td>
                <td>{{articulo.numero_3}}</td>
                <td>{{articulo.numero_4}}</td>
                <td>{{articulo.descripcion}}</td>
                <td>{{articulo.observacion}}</td>
                <td class="text-center">{{articulo.fecha_4}}</td>
                <td class="text-center">{{articulo.fecha_5}}</td>
                <td>{{articulo.fecha_si_noi}}</td>
                <td>{{articulo.codigo_2}}</td>
                <td>{{articulo.codigo_3}}</td>
                <td>{{articulo.nombre_2}}</td>
                <td>{{articulo.tipo}}</td>
                <td>{{articulo.observacion_2}}</td>
                <td>{{articulo.observacion_3}}</td>
                <td>{{articulo.medicion}}</td>
                <td>{{articulo.cantidad}}</td>
                <td>{{articulo.especificacion_consumo}}</td>
                <td>{{articulo.descripcion_empaque}}</td>
                <td>{{articulo.empresa_quimica}}</td>
                <td>{{articulo.tipo_empresa}}</td>
                <td>{{articulo.actividad_empresa}}</td>
                <td>{{articulo.actividad_empresa_2}}</td>
                <td>{{articulo.actividad_empresa_3}}</td>
                <td>{{articulo.actividad_empresa_4}}</td>
                <td class="text-center">{{articulo.fecha_6}}</td>
                <td class="text-center">{{articulo.fecha_7}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <paginate
            v-model="currentPage"
            :page-count="pageCount"
            :click-handler="listarArticulos"
            :prev-text="'Anterior'"
            :next-text="'Siguiente'"
            :container-class="'pagination'"
            :page-class="'page-item'"
            :page-link-class="'page-link'"
            :prev-class="'page-item'"
            :prev-link-class="'page-link'"
            :next-class="'page-item'"
            :next-link-class="'page-link'"
            >
          </paginate>
        </div>
      </div>
    </menu-principal>
  </div>
</template>
<script>
export default {
  data:()=>({
    listado_articulos:[],
    currentPage:1,
    pageCount:0,
    perPage:500,
  }),
  mounted(){
    this.listarArticulos()
  },
  methods:{
    listarArticulos(){
      let that = this
      that.$Fun.cargando()
      let url = `/reportes/articulos/${that.currentPage}/${that.perPage}`
      $.ajax({
        url,
        type:'GET',
        success:(response)=>{
          that.listado_articulos = response.articulos
          that.pageCount = response.total_pages
          that.$Fun.cargando(0)
        },error:(e)=>{
          that.$Fun.cargando(0)
          console.log("Fail! " + e);
        }
      });
    },
    importarCSV(){
      let that = this
      that.$Fun.cargando()
      let formData = new FormData($("#uploadSingleFileForm")[0]);
      $.ajax({
        url : '/reportes/import_csv',
        type : 'POST',
        data : formData,
        async : false,
        cache : false,
        contentType : false,
        enctype : 'multipart/form-data',
        processData : false,
        success:(response)=>{
          if(response.status !== "error"){
            const confirmSuccess=()=>{
              that.$Fun.cargando(0)
              that.listarArticulos()
            }
            that.$Fun.mensaje(4,"Éxito","Se importo el CSV con exito",'success',confirmSuccess);
          }else{
            that.$Fun.mensaje(1,"Error",`<p class='f-16'>Sucedio un error al importar el CSV</p>`,"error")
          }

        },
        error:(e)=>{
          that.$Fun.mensaje(1,"Error",`<p class='f-16'>Sucedio un error al importar el CSV</p>`,"error")
          that.$Fun.cargando(0)
          console.log("Fail! " + e);
        }
      });
    },
  },
}
</script>

<style lang="css">

  div.scrollTable {
    padding: 4px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 500px;
  }

</style>
