<template>
  <div>
    <!-- componente menus -->
    <menu-principal />
    <div class="row">
      <div class="col-md-8">
        <h1> Bienvenido: {{$VarGlobal.info.name}} </h1>
      </div>
      <div class="col-md-4 text-right my-auto">
        <small>Inicio Sesión {{moment().format("DD/MMM/Y HH:mm:ss a")}}</small>
      </div>
    </div>
  </div>
</template>
<script>
export default {
}
</script>

<style lang="css">
</style>
