<template>
  <section>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li v-for="(item,key) in listado_menu" :key="key" :class="`nav-item ${item.ruta==$route.name?'active font-weight-bold':''} `">
            <router-link :to="{ name: item.ruta }" class="nav-link">
              {{item.title}}
            </router-link>
          </li>
          <li  class="nav-item" v-if="$VarGlobal.info.username">
            <a @click="CloseSession" href="#" class="nav-link text-danger">
              Cerrar Sesión
            </a>
          </li>
          <li  class="nav-item my-auto font-weight-bold" v-if="$VarGlobal.info.rol">
            Rol: {{$VarGlobal.info.rol}}
          </li>
        </ul>
      </div>
    </nav>
    <slot></slot>
  </section>
</template>
<script>
export default {
  name:"menu_principal",
  data:()=>({
    listado_menu:[
      {title:"Login",ruta:"login"},
      {title:"Crear Usuario",ruta:"account.registro"},
    ],
  }),
  created(){
    this.getAuth()
  },
  methods:{
    CloseSession(){
      this.$Fun.axios_get("/account/logout",e=>{
        if (e.data.success) {
          this.$router.push({ name: 'login'})
        }
      })
    },
    getAuth(){
      this.$Fun.axios_get("/account/auth",e=>{
        let data = e.data
        this.$VarGlobal.info = data.info
        this._getDataMenu()
        if (data.info) {
          if (this.$route.name == "login") {
            this.$router.push({ name: 'usuarios.listar'})
          }
        }else {
          this.$VarGlobal.info = {}
          if (this.$route.name != "login" && this.$route.name !="account.registro") {
            this.$router.push({ name: 'login'})
          }
        }
      })
    },
    _getDataMenu(){
      this.listado_menu = [
        {title:"Login",ruta:"login"},
        {title:"Crear Usuario",ruta:"account.registro"},
      ]
      if (this.$VarGlobal.info) {
        this.listado_menu = [
          {title:"Inicio",ruta:"home"},
          {title:"Artículos Medicamentos",ruta:"exportar_csv"},
          {title:"Administración de Clientes",ruta:"clientes.listar"},
        ]

        if (this.$VarGlobal.info.rol == "Administrador") {
          this.listado_menu.push({title:"Administración de Usuarios",ruta:"usuarios.listar"},)
        }

        let access = _.filter(this.listado_menu,["ruta",this.$route.name])
        if (!access.length && this.$route.name !== "404") {
          this.$router.push({ name: '404'})
        }
      }

    },
  },
}
</script>

<style lang="css">
</style>
