<template>
  <!-- Modal -->
  <div :ref="identificacion" :id="id" class="modal fade" role="dialog" :aria-labelledby="`exampleModalLabel${identificacion}`" aria-hidden="true" data-backdrop='static' data-keyboard='false'>
    <div :class="`modal-dialog modal-dialog-centered ${tamano?tamano:''}`" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <div class="w-100 mt-2 bg-inf pb-3 ">
            <h5 v-if="titulo" class="modal-title text-center text-title-nex" :id="`exampleModalLabel${identificacion}`">{{titulo}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('cerrarModal')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body pt-0 pb-4">
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    titulo:{
      type:String,
      default:''
    },
    tamano:{
      type:String,
      default:''
    },
    identificacion:{
      type:String,
      default:'modalnex'
    },
    id:{
      type:String,
      default:'modalnex'
    },
    tipo_cabecera:{
      type:Number,
      default:0
    }
  },
  methods:{
    toggle(){
      $(this.$refs[this.identificacion]).modal('toggle');
    }
  }
}
</script>

<style lang="css">
.btn-danger2{
  background: #DE3F37;
  color: white;
}
.modal-content{
  border: none;
  border-radius: 8px;
}
.modal-header{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;

}
.close{
  transition-duration: .85s;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 2.5em;
  }

  .logo{
    display: block;
    height: 46px;
    width: 180px;

    span{
      font-size: 1.2em;
    }
  }
  .modal-title{
    font-weight: normal;
  }
  .border-titulo{
    border-bottom: 1px solid #80808042;
  }

</style>
