<template>
  <div>
    <!-- CONTENT -->
    <div class="container">
      <div>
        <transition name="fade">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>


<script>
  export default {
    created(){
    },
  }
</script>

<style>
.fade-enter-active .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter .fade-leave-active {
  transition: 0;
}
</style>
